<!DOCTYPE html>
<html>
<head>
	<title>Student Grades</title>
</head>
<body>
<h1>Student Grades</h1>
<p>Use this form to enter a new grade for a student</p>
 <form action="/grades" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="grades" placeholder="Grade">
    <button type="submit">Save</button>
  </form>
</body>
</html>